.footer {
    width: 100%;
    height: 150px;
    background-color: $colorVariacion;
    border-top: 30px solid $colorGeneral;
    text-align: center;
    p {
        letter-spacing: 8px;
        font-size: 2rem;
        color: $colorClaro;
        margin-top: 50px;
    }
}