section.contact
                .contact__container
                    img(src="../assets/img/sms.png", alt="Contactame")
                    .contact__container--description
                        a(href="") Contacto
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .contact__container
                    img(src="../assets/img/like.png ", alt="Deja tu comentario")
                    .contact__container--description
                        a(href="") Escribe
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 