footer.footer 
    p Atribuciones de los archivos multimedia
    section.atribuciones
        a(href='https://www.freepik.es') vectores de www.freepik.es
        a(href="https://iconos8.es/") Iconos de www.Icons8.es
        a(href="https://undraw.co/") Ilustaciones de www.undraw.co