header.header
            section.header__icons-container
                .icons
                    a(href=""): span.icons1
                    a(href=""): span.icons2
                    a(href=""): span.icons3
                    a(href=""): span.icons4
                    a(href=""): span.icons5
            nav.nav
                section.nav__logo-container
                    a(href="./main.html"): img(src="../assets/img/logo.png", alt="Logo de mi blog")
                section.profile__link
                    a(href="./perfil.html") Sobre mí