doctype!
html(lang="es")
    head 
        include componentes/mixins.pug  
        include componentes/head.pug
    body
        include componentes/header.pug
        main
            section.blogpost__img--container
                img(src="../assets/img/post1.png", alt="joven utilizando gafas de realidad virtual") 
            section.blogpost__main--container
                h3 Noticias
                article
                    h1 Título del blogpost
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magni sint, iste mollitia asperiores eaque exercitationem nulla qui obcaecati ea quas illo saepe placeat. Ullam fuga sint voluptatum unde quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eum velit fuga laudantium consequatur, consequuntur iste dicta dignissimos, molestias quisquam officia. Eaque accusamus corporis voluptates. Ut officia voluptatem consequuntur odio! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse vel voluptatibus voluptas error, laborum consequuntur eaque saepe, nobis at natus quibusdam id. Culpa delectus id quam aperiam quibusdam corporis exercitationem?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint tenetur aliquid error aperiam excepturi distinctio amet aliquam ut delectus natus iure ad odio assumenda, consequuntur laudantium, exercitationem commodi rem! Fugit?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam animi ullam nisi molestiae praesentium in, quos debitis perspiciatis similique nostrum pariatur voluptatibus accusamus dolores velit fuga maxime quam, error enim. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia perspiciatis adipisci suscipit odio vitae dolor repellendus autem accusamus, hic quod nemo quibusdam aspernatur praesentium illo assumenda natus quos officiis doloribus!
            include componentes/contacto.pug
        include componentes/footer.pug