doctype!
html(lang="es")
    head 
        include componentes/mixins.pug  
        include componentes/head.pug
    body
        include componentes/header.pug
        main
            section.blogpost__img--container
                img(src="../assets/img/front_end-developer.jpg", alt="joven utilizando gafas de realidad virtual") 
            section.blogpost__main--container
                h3 Anotaciones
                article
                    h1 Tecnologias fron-end
                    p <b>Descripción: </b>El front end se compone de las tecnologias que nos permiten crear un pagina web visualmente atractiva e interactiva. Al hacer uso adecuado de estas herramientas, podedos darle una exelente experiencia al usuario, y asi lograr más visitas en nuestro sitio web. Pero claro internet no es solo front end, tambien existe el back end. Sin embargo, en este blog me dedicare a hablar del front end 'Por ahora'.
                    p <b>¿Por qué es importante?</b> Como te mencionaba, mediante el front end logramos hacer que, cuando los usuarios ingresen a nuestro sitio web puedan tener una buena experiencia, y eso los motivará a seguir visitando la pagina. Pero eso no es todo, pues sin el front end, el usuario no tendria manera de acceder a sus datos, o al menos no seria la mejor expesiencia de uso. Para entenderlo, pienza en un lienzo. Cuado esta en blanco no tiene mucho sentido ni gracia, pero cuando le aplicamos nuestro estilo, destacamos sobre lo común. Eso es el front end. ¡Claro! hay mucho más.
                    p <b> Tecnologias: </b>Puede que te preguntes, como iniciar entonces con ente mundo tan fascinante. Pues bien, es bueno que sepas cuales son las tecnologias principales y asi adentrarte a esta nueva experiencia. Inicialmente contamos con tres (3) lenguajes que son el estandar que nos permiten crear paginas web, el lugar por el que te recomiendo empezar en por <b> HTML </b>pero tambien quiero que sepas que existe <b> CSS </b>y<b> JAVASCRIPT. </b> Te explicon para que funciona cada uno <a class="enlace" href="./blogs.html"> aqui</a>
            //- include componentes/contacto.pug
        include componentes/footer.pug