doctype!
html(lang="es")
    head 
        include componentes/mixins.pug  
        include componentes/head.pug
    body
        include componentes/header.pug
        section.news
            section.newsprincipal
                h2.title Front-end
                .newimg
                    img(src="../assets/front_end.svg", alt="Avances de la tecnologia")
                section.newsprincipal__description
                    h2 Tecnologias principales
                    p En este blog hablare de las tecnologias pricipales front-end y lo que yo he aprendido sobre ellas.
                    button.dos: a(href="./blog.html") Entra ya!
        section.blogs
            h2.blogs__title Blogs Principales
            section.blogs__container
                    +blogs("../assets/html.svg", "Joven con gafas de realidad virtual.", "HTML: Maquetar", "HTML es el lenguaje m치s basico y con el que por defecto  construimos paginas web, con el podemos maquetar la estructura general de nuestra pagina web, entre muchas otra cosas...")
                    +blogs("../assets/css.svg", "Joven con gafas de realidad virtual.", "CSS: Estilos", "Con CSS podras darle estilos al maquetado que crees con html. En todas las paginas que ingreses veras el uso de css, pues nos permite personalizar la web a nuestro acomodo.")
                    +blogs("../assets/javascript.svg", "Joven con gafas de realidad virtual.", "JAVASCRIPT: Interacci칩n", "JAVASCRIPT es la herramienta que nos ayuda a darle la interacci칩n a nuestro sitio web, y nos permite acer paginas mucho m치s dinamicas y entretenidas para los usuarios. ")
        include componentes/footer.pug