doctype!
html(lang="es")
    head 
        include componentes/mixins.pug  
        include componentes/head.pug
    body.home-body
        include componentes/header.pug
        main.main
            section.main__encabezado
                h1.main__encabezado-h1 Conoce sobre el mundo de la Tech y el Open Source 
                button: a(href="./blogs.html") Entra ya!